asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
dill==0.3.3
Django==3.1.4
djangorestframework==3.12.2
filelock==3.0.12
Flask==1.1.2
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
MarkupSafe==1.1.1
nlp==0.4.0
nltk==3.5
numpy==1.19.4
pandas==1.1.5
pyarrow==2.0.0
python-dateutil==2.8.1
pytz==2020.5
regex==2020.11.13
requests==2.25.1
scikit-learn==0.24.0
scipy==0.15.1
six==1.15.0
sqlparse==0.4.1
threadpoolctl==2.1.0
tqdm==4.55.1
typed-ast==1.4.1
urllib3==1.26.2
Werkzeug==1.0.1
xxhash==2.0.0
